<div class="day<%= " #{extra}" if defined?(extra) && !extra.blank? -%><%= ' today' if @today == date -%>" title="<%= date -%>">
  <div class="data">
    <span class="number"><%= day -%></span>
  </div>
</div>
