<% set_title('New Holiday') -%>

<% div_block do -%>
  <div id="calendar">
    <div class="month-header">
      <div class="prev-month"><%= link_month(@prevmonth, "&lt;&lt; #{month_name(@prevmonth)}") -%></div>
      <div class="next-month"><%= link_month(@nextmonth, "#{month_name(@nextmonth)} &gt;&gt;") -%></div>
      <div class="month"><%= month_name(@date) -%></div>
    </div>
  </div>
<% end -%>
