<% set_title('New Holiday') -%>

<% div_block do -%>
  <div id="calendar">
<%= render :partial => 'new_holiday_calendar' -%>
  </div>
<% end -%>
<% div_block do -%>
  <p>Start date: <span class="start-date"></span></p>
  <p>End date: <span class="end-date"></span></p>
  <pre id="logging-output"></pre>
<% end %>
